<footer class="footer" style="padding-top: 20px;padding-bottom: 40px">
    <div class="container">
        <div class="row">
            <div class="col s12">
            </div>
        </div>
        <div class="row">
            <div class="col l6 s6">
                <h5 style="margin-top:0;padding-top:0">Arctic Bit</h5>
                <p style="text-transform: uppercase">
                    Laxholmstorget 3<br/>
                    602 21 Norrköping<br/>
                    <br/>

                    <a href="mailto:hello@arcticbit.se">
                        hello@arcticbit.se
                    </a>
                </p>
            </div>
            <div class="col l4 offset-l2 s6 right-align social">
                <a href="https://www.facebook.com/arcticbitse">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="https://dribbble.com/arcticbit">
                    <i class="fab fa-dribbble"></i>
                </a>
                <a href="https://dev.to/0x12b">
                    <i class="fab fa-dev"></i>
                </a>
                <a href="https://github.com/arcticbit">
                    <i class="fab fa-github"></i>
                </a>
                <a href="https://www.linkedin.com/company/arctic-bit/">
                    <i class="fab fa-linkedin"></i>
                </a>
            </div>
        </div>
    </div>
</footer>