<style>
    a {
        color: black;
    }

    .menu {
        margin: 0;
    }

    .menu div {
        margin: 0;
        padding: 0 20px;
        text-transform: uppercase;
        display: inline-block;
    }

    .menu .get-in-touch {
        border: 2px solid black;
        padding: 10px;
    }

    .menu .get-in-touch:hover {
        background: black;
        color: white;
        transition: all .6s;
    }

    .menu .get-in-touch:hover a {
        color: white !important;
    }
</style>
<div class="menu">
    <a href="/">
        <div class="sm12">
            Home
        </div>
    </a>
    <a href="/articles">
        <div>
        Articles
        </div>
    </a>
    <a href="/schedule">
        <div>
            Schedule
        </div>
    </a>
    <a href="/contact">
        <div class="get-in-touch">
            Get in touch
        </div>
    </a>
</div>