<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
    <div class="container" style="margin-top: 20px">
        <div class="row">
            <div class="col s6" style="font-size: 1.8em">
                <img src="{{ site.meta.logo }}" style="height: .9em;margin-right: 10px" />
                {{ page.title }}
            </div>
            <div class="col s6">
                {{ page.desc }}
            </div>
        </div>
    </div>
    {{ content }}
    {% include footer.html %}
</body>
</html>

