---
layout: default
comments: true
---

<div style="background: url('{{ page.splash }}');height:500px;max-height: 400px;background-size: cover; background-position: center center;">
</div>

<div class="container">
    <div class="row">
        <div class="col s12 center-align" style="font-size: 3em;padding-top: 40px">
            {{ page.title }}
            <span style="font-size: .5em; display: block;font-style: italic">
                {{ page.subtitle}}
            </span>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col s12 post-content">
            {{ content }}
        </div>
    </div>
    <div class="row">
        <div class="col s12">
        {% include disqus.html %}
        </div>
    </div>
</div>